@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary-50: #e1e8ef;
  --color-primary-100: #d4dee7;
  --color-primary-200: #b7c7d7;
  --color-primary-300: #99b0c7;
  --color-primary-400: #7c99b6;
  --color-primary-500: #5e82a6;
  --color-primary-600: #4c6b8a;
  --color-primary-700: #3c546c;
  --color-primary-800: #2c3d4f;
  --color-primary-900: #1b2631;
  --color-primary-950: #141c24;
  --color-accent-50: #faf5f0;
  --color-accent-100: #f4ece1;
  --color-accent-200: #e8d6bf;
  --color-accent-300: #ddc2a2;
  --color-accent-400: #d2af84;
  --color-accent-500: #c69963;
  --color-accent-600: #b78343;
  --color-accent-700: #926835;
  --color-accent-800: #6c4d28;
  --color-accent-900: #4b351b;
  --color-accent-950: #382814;
  --radius-sm: calc(0.65rem - 4px);
  --radius-md: calc(0.65rem - 2px);
  --radius-lg: 0.65rem;
  --radius-xl: calc(0.65rem + 4px);
}

@layer base {
  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1b2631;
    border-right-color: #b7c7d7;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #b7c7d7;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: #c69963 !important;
  --rdp-background-color: #b78343 !important;
  margin: 0 !important;
}

.hide-scroll {
  scrollbar-width: none;
}
